*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}
body{
    height: 98vh;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    background-color: hsl(0, 100%, 74%);
    background-image: url("images/bg-intro-desktop.png");
    justify-content: center;
    align-items: center;
    
}
#main{
    width: 75%;
    height: 90vh;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#info{
    padding: 5%;
    color: white;
    width: 90%;
}
#info_head{
    margin: 5%;
    font-size: 16px;
    font-weight: 700;
}
#info_summary{
    margin: 5%;
}
#action_call{
    width: 100%;
    background-color:  hsl(248, 32%, 49%) ;
    text-align: center;
    padding: 5%;
    margin: 5%;
    border-radius: 20px;
    box-shadow: 0px 4px hsl(246, 25%, 77%);
    color: white;
}
#form_content{
    border-radius: 10px;
    width: 100%;
    background-color: aliceblue;
    padding: 5%;
    margin: 5%;
}
input , button{
    width: 100%;
    margin: 1%;
    padding: 3%;
    border: 0px;
    border-radius: 5px;
}
#terms{
    margin: auto;
    width: 90%;
    font-size: small;
    text-align: center;
}
button{
    background-color: hsl(154, 59%, 51%);
    color: white;
    cursor: pointer;  
}
@media screen and (max-width: 375px) {
    #main{
        display: flex;
        flex-direction: column;
    }

  }
